.map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.button {
  width: 100%;
  height: 50px;
  background-color: #3FA2F6;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 24px;
}